:root {
  --title-color: #180b1f;
  --text-color: #eeeeee;
  --bg-color: #78D1B6;
}

* {
  padding: 0;
  margin: 0;
}

.overlay {
  border-width: 10px;
  border-style: solid;
  border-image-source: 
    linear-gradient(
      rgba(79, 182, 142, 0.5), 
      rgba(22, 0, 63, 0.5));
  border-image-slice: fill 1;
}

body {
  background-color: var(--bg-color);
  background-image: url(../images/background-art.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: cover;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: calc(100% - 40px);
  min-height: calc(100vh - 40px);
  padding: 20px;
}

footer {
  text-align: center;
  font-size: 70%;
  color: #eeeeeefb;
  margin-bottom: 20px;

}

.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid var(--title-color);
  object-fit: cover;
}

.profile-name {
  margin-top: 200px;
  font-size: 50px;
  font-family: 'silkscreen';
  font-style: bold;
  color: rgb(255, 255, 255);
}

.silkscreen-bold {
  font-family: "Silkscreen", sans-serif;
  font-weight: 700;
  font-style: normal;
}


.summary {
  color: var(--text-color);
  font-weight: 100;
  margin-top: 10px;
  text-align: center;
}

.location {
  font-size: 90%;
  color: var(--text-color);
  margin-top: 10px;
  margin-bottom: 20px;
}

.fa-solid fa-location-dot{
  color: #ffffffe8;

}

.social-links {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin-top: 10px;
  padding: 10px;
  width: 160px;
  margin: 0 auto;

}

.social-icon {
  color:rgb(212, 212, 212);
  font-size: 20px;
  opacity: .7
}

.social-icon:hover,
.social-link:focus {
  color: rgb(243, 233, 85);
  opacity: 1

}
.about {
  display: flex;
  margin-top: 10px;
}

.about__title {
  color: var(--title-color);
  font-weight: 600;
}
.about__list {
  display: flex;
  margin-left: 10px;
  list-style: none;
  font-weight: 100;
}

.about__list > li {
  margin-right: 10px;
}

.about__list > li > a {
  color: var(--text-color);
  transition: all .3s;
}

.about__list > li:hover > a {
  color: rgb(240, 102, 97);
}

.list-links {
  margin-top: 5px;
  list-style: none;
}

.list-links > li {
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  width: 280px;
  height: 50px;
  margin-bottom: 15px;
  border: 4px solid var(--title-color);
  border-radius: 50px;
  box-shadow: 4px 4px var(--title-color);
  cursor: pointer;
  transition: all .3s;
}

.list-links > li:nth-child(1) {
  background-color: #a97df0;
}
.list-links > li:nth-child(2) {
  background-color: #618ef0;
}
.list-links > li:nth-child(3) {
  background-color: #f06161;
}
.list-links > li:nth-child(4) {
  background-color: #8ef061;
}

.list-links > li > a {
  text-decoration: none;
  color: whitesmoke;
  font-weight: 700;
  font-size: 20px;
  text-shadow: #000000;
}

.list-links > li:hover {
  transform: translate(-5px, -5px);
}

a {
text-decoration: none;

}

svg {
fill: rgb(255, 255, 255);
height: 20px;
margin: auto

}

@media screen and (max-width: 300px) {
  .list-links {
    width: 100%;
  }
  .list-links > li {
    width: 100%;
  }

  .social-links {
    width: 100%;
  }
  .social-links > li {
    width: 100%;
  }
}